.row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 30vh;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

img{
    width: 200px;
    height: 200px;
}